<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='header-lost.js') }}"></script>
</head>
<body>
    <header id="main-header">
        <div class="logo">
            <h1>LEMOS</h1>
        </div>
    </header>
    <main>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
        <p>main...</p>
    </main>
</body>
</html>